[submodule "flutter"]
	path = submodules/flutter
	url = https://github.com/flutter/flutter.git
[submodule "submodules/reproducible-apk-tools"]
	path = submodules/reproducible-apk-tools
	url = https://github.com/obfusk/reproducible-apk-tools.git
